// just random exemplary pinout, please change it to match your setup!

#define PIN_LED_R D,0
#define PIN_LED_B D,1

#define PIN_NSS_CV520 B,1
#define PIN_SCK_CV520 B,2
#define PIN_MOSI_CV520 B,3
#define PIN_MISO_CV520 B,4
#define PIN_NRSTPD B,5

#define PIN_CV520_PWRSW B,6

// from CV520 datasheet
#define REG_00_Reserved 0x00
#define REG_01_CommandReg 0x01
#define REG_02_ComlEnReg 0x02
#define REG_03_DivlEnReg 0x03
#define REG_04_ComIrqReg 0x04
#define REG_05_DivIrqReg 0x05
#define REG_06_ErrorReg 0x06
#define REG_07_Status1Reg 0x07
#define REG_08_Status2Reg 0x08
#define REG_09_FIFODataReg 0x09
#define REG_0a_FIFOLevelReg 0x0a
#define REG_0b_WaterLevelReg 0x0b
#define REG_0c_ControlReg 0x0c
#define REG_0d_BitFramingReg 0x0d
#define REG_0e_CollReg 0x0e
#define REG_0f_Reserved 0x0f
#define REG_10_Reserved 0x10
#define REG_11_ModeReg 0x11
#define REG_12_TxModeReg 0x12
#define REG_13_RxModeReg 0x13
#define REG_14_TxControlReg 0x14
#define REG_15_TxASKReg 0x15
#define REG_16_TxSelReg 0x16
#define REG_17_RxSelReg 0x17
#define REG_18_RxThresholdReg 0x18
#define REG_19_DemodReg 0x19
#define REG_1a_Reserved 0x1a
#define REG_1b_Reserved 0x1b
#define REG_1c_MfTxReg 0x1c
#define REG_1d_MfRxReg 0x1d
#define REG_1e_Reserved 0x1e
#define REG_1f_Reserved 0x1f
#define REG_20_Reserved 0x20
#define REG_21_CRCResultReg 0x21
#define REG_22_CRCResultReg 0x22
#define REG_23_Reserved 0x23
#define REG_24_ModWidthReg 0x24
#define REG_25_Reserved 0x25
#define REG_26_RFCfgReg 0x26
#define REG_27_GsNReg 0x27
#define REG_28_CWGsPReg 0x28
#define REG_29_ModGsPReg 0x29
#define REG_2a_TModeReg 0x2a
#define REG_2b_TPrescalerReg 0x2b
#define REG_2c_TReloadReg 0x2c
#define REG_2d_TReloadReg 0x2d
#define REG_2e_TCounterValReg 0x2e
#define REG_2f_TCounterValReg 0x2f
#define REG_30_Reserved 0x30
#define REG_31_TestSel1Reg 0x31
#define REG_32_TestSel2Reg 0x32
#define REG_33_TestPinEnReg 0x33
#define REG_34_TestPinValueReg 0x34
#define REG_35_TestBusReg 0x35
#define REG_36_AutoTestReg 0x36
#define REG_37_VersionReg 0x37
#define REG_38_AnalogTestReg 0x38
#define REG_39_TestDAC1Reg 0x39
#define REG_3a_TestDAC2Reg 0x3a
#define REG_3b_TestADCReg 0x3b
#define REG_3c_Reserved 0x3c
#define REG_3d_Reserved 0x3d
#define REG_3e_Reserved 0x3e
#define REG_3f_Reserved 0x3f
